<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_name">Enter the name of your list:</label>
    </dt>
    <dd>
      <input type="text" name="list_name" value="" placeholder="List name">
    </dd>
  </dl>
  <fieldset class="action">
    <input type="submit" value="Save">
    <a href="/lists">Cancel</a>
  </fieldset>
</form>
